.htrHeading{
    text-align: center;
  }
   /* Card  */
  .Card{
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    padding: 20px;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 130px; 
  
  }
  
  
  @media screen and (max-width: 480px) {
    .card {
      width: calc(100% - 20px); /* Single card per row on even smaller screens */
    }
  }