.btn{
    height: 60px;
    background-color:navy;
  }
  /* .navbar1{
    height: 80%;
    background-color: rgb(246, 146, 146);
  }
  .navbar-nav{
    color:rgb(248, 248, 32);
  } */
  .img{
    height: 90;
    width: 250;
  }
  @media screen and (max-width: 600px) {
    .img {
      max-width: 100%;
    }
  }