/* Rides */
.Heading h1{
  text-align: center;
}
.containerr{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
    height: auto;
  }
  .image-container {
    flex: 1;
    background-color: rgb(209, 237, 245);
  }
  .imgclass{
    width: 100%;
    height: 100%;
   
  } 
  .htr{
    background-color: rgb(209, 237, 245);
    flex: 1;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    .image-container {
      flex: 100%; 
    }
  }
  @media screen and (max-width: 600px) {
    .htr {
      flex: 100%; 
    }
  }
  
  .htrride{
    flex: 1 0 10%; 
    margin: 10px; 
    padding: 20px;
    box-sizing: border-box;
  }
  .htrride h1{
    margin-top: 50px;
  }
  .htrride h5{
    line-height: 3rem;
    word-spacing: 9px;
    font-size: x-large;
  }
  .imgclass1{
    width: 100%;
    height: 100%;
  } 
/*   
  .responsive-video {
    background-color: rgb(249, 204, 59);
  } */
  /* .htrHeading{
    text-align: center;
  } */