.manasa h1{
    text-align: center;
    color: navy;
  } 
  .offerdetails{
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    row-gap: 90px;
    gap: 100px;
    
  } 
  .offers{
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    overflow: hidden;
    text-align: center;
    line-height: 2;
  }
  .offers h3{
    color: navy;
  }
  .offerimg{
    width: 100%;
    height: 100%;
  }
  .offers:hover{
    scale: 1.1;
    box-shadow: 10px 10px rgb(197, 197, 191);
  }