/* timings */
.totalcontainer{
    background-color: rgb(223, 220, 244);
  }
  .containerss{
    /* margin-top: 30px; */
    text-align: center;
  }
  .head{
    text-align: center;
    margin-top: 20px;
  }
  .timing{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
    
  }
  .timing1{
    flex: 1;
    background-color:#ffd336;
    color: black;
    text-align: center;
  }
  .timing2{
    background-color:#0a2254;
    color: white;
    flex: 1;
    text-align: center;
  }
  .head1{
    margin-top: 50px;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .timing1 .timing2{
      flex: 100%; 
    }
  }